{% load i18n %}
{% load static %}
<div class="uk-margin-bottom">
    <a href="{% url 'contact' contact.url %}">
        <div class="uk-button app-button-contact uk-width-1-1 ">
            <div class="uk-flex-inline uk-flex-middle">
                <div class="uk-flex-left uk-flex-inline uk-flex-bottom">
                    <div class="container-image-contact">
                        {% if contact.image_contact %}
                            <img class="uk-border-circle image-contact" width="50" height="50"
                                 data-src="/media{{ contact.image_contact }}"
                                 alt="{{ contact.name }} {{ contact.surnames }}" uk-img>
                        {% else %}
                            <img class="uk-border-circle image-contact" width="50" height="50"
                                 data-src="{% static 'img/app/contact_holder.jpg' %}"
                                 alt="{{ contact.name }} {{ contact.surnames }}" uk-img>
                        {% endif %}
                    </div>
                    <div class="text-button-contact uk-margin-left uk-flex-middle uk-margin-right"
                         id="info">{{ contact.name }} {{ contact.surnames }}</div>

                    {% for tag in tags_list %}
                        <div class="uk-container uk-flex-inline uk-flex-middle ">
                            {% if tag.contact == contact %}
                                <div class="uk-label tag-contact">
                                    <span class="tag-emoji">{{ tag.icon }}</span>
                                    <span class="text-tag-contact">{{ tag.text }}</span>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="btn-actions-contact uk-flex-right uk-flex-inline uk-flex-middle">
                    <ul class="uk-iconnav">
                        <li><a class="uk-icon-link"  onclick="deleteContact('{{ contact.id }}','{{ contact.name }} {{ contact.surnames }}')" uk-icon="icon: trash" uk-tooltip="title: {% translate "Eliminar contacto" %}; pos: bottom-left" ></a>
                        <li><a  class="uk-icon-link" onclick="editContact('{{ contact.name }}','{{ contact.surname }}')" uk-icon="file-edit"
                               uk-tooltip="title: {% translate "Editar contacto" %}; pos: bottom-left"></a>
                        <li><a href="#" class="uk-icon-link" uk-icon="future"
                               uk-tooltip="title: {% translate "Programar" %}; pos: bottom-left"></a>
                    </ul>
                </div>

            </div>
        </div>
    </a>
</div>