{% load i18n %}
{% load static %}
<div class="uk-margin-bottom">
    <div class="uk-flex uk-flex-between uk-flex-middle uk-visible-toggle app-button-contact" tabindex="-1">
        <div id="photo_name_tags_contact" class="uk-margin-left uk-flex">
            <div id="photo_contact">
                {% if contact.image_contact %}
                    <a href={% url 'contact' contact.url %}><img class="uk-border-circle image-contact" width="50"
                                                                 height="50"
                                                                 data-src="/media{{ contact.image_contact }}"
                                                                 alt="{{ contact.name }} {{ contact.surnames }}" uk-img></a>
                {% else %}
                    <a href={% url 'contact' contact.url %}><img class="uk-border-circle image-contact" width="50"
                                                                 height="50"
                                                                 data-src="{% static 'img/app/contact_holder.jpg' %}"
                                                                 alt="{{ contact.name }} {{ contact.surnames }}" uk-img></a>
                {% endif %}
            </div>
            <div id="name_contact">
                <a class="uk-margin-left uk-margin-right"
                   href={% url 'contact' contact.url %}><span
                        class="uk-h5 text-button-contact uk-text-middle">{{ contact.name | capfirst }} {{ contact.surnames | capfirst }}</span></a>
            </div>
            <div id="tags_contact" class="uk-visible@l">
                {% for tag in tags_list %}
                    <div class="uk-flex uk-flex-inline">
                        {% if tag.contact == contact %}
                            <div class="uk-label tag-contact uk-text-middle">
                                <span class="uk-margin-small-right">{{ tag.icon }}</span>
                                <span class="">{{ tag.text }}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="iconnav_options_contact" class="uk-visible@l">
            <ul class="uk-iconnav uk-invisible-hover">
                <li><a class="uk-icon-linl icon_trash" uk-icon="icon: trash"
                       uk-tooltip="title: {% translate "Eliminar contacto" %}; pos: bottom"></a>
                <li><a class="uk-icon-link icon_app" uk-icon="file-edit"
                       uk-tooltip="title: {% translate "Editar contacto" %}; pos: bottom"></a>
                <li><a href="#" class="uk-icon-link icon_app" uk-icon="future"
                       uk-tooltip="title: {% translate "Programar" %}; pos: bottom"></a>
            </ul>
        </div>
    </div>
</div>