$color-blue-1: #021F59;
$color-blue-2: #144673;
$color-blue-3: #05AFF2;
$color-blue-4: #05C7F2;
$color-gray-1: #DFEDF2;
$color-white: #FFFF;
$color-black: #000;


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 70px !important;
  background-color: rgba(166, 153, 138, 0.020) !important;
  flex: 1 0 auto;
}

.content-web {
  background-color: rgba(166, 153, 138, 0.020) !important;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
