$color-blue-1: #021F59;
$color-blue-2: #144673;
$color-blue-3: #05AFF2;
$color-blue-4: #05C7F2;
$color-gray-1: #DFEDF2;
$color-white: #FFFF;
$color-black: #000;


#app {
    position: relative;
    min-height: calc(100vh - 60px);
    background-color: rgba(166, 153, 138, 0.020) !important;
}

#web {
    position: relative;
    min-height: 100vh;
    background-color: rgba(166, 153, 138, 0.020) !important;
}


#body {
    padding-bottom: 65px;
}
