@import "base";

.uk-button-primary {
  background-color: $color-blue-1 !important;
  transition: .2s ease-in-out !important;
}

.uk-button-primary:hover {
  background-color: $color-blue-2 !important;

}

.uk-input:focus {
  border-color: $color-blue-1 !important;
}

.uk-select:focus{
  border-color: $color-blue-1 !important;
}

.uk-button-secondary {
  background-color: $color-black !important;
}

.uk-button-secondary:hover {
  background-color: $color-blue-3 !important;
}

.text-line {
  color: $color-gray-1 !important;

}
.text-line:before {
   border-bottom: 1px solid $color-blue-2 !important;
}