@use "base";

.uk-button-primary {
  background-color: $color-blue-1 !important;
  transition: .2s ease-in-out !important;
}

.uk-button-primary:hover {
  background-color: $color-blue-2 !important;

}

.uk-input:focus {
  border-color: $color-blue-1 !important;
}

.uk-select:focus {
  border-color: $color-blue-1 !important;
}

.uk-textarea:focus {
  border-color: $color-blue-1 !important;
}

.uk-button-secondary {
  background-color: $color-black !important;
}

.uk-button-secondary:hover {
  background-color: $color-blue-3 !important;
}

.uk-radio:checked {
  background-color: $color-blue-3 !important;
}


.text-line {
  color: $color-gray-1 !important;

}

.darkmode--activated .uk-button {
  color: $color-gray-1 !important;
}

.text-line:before {
  border-bottom: 1px solid $color-blue-2 !important;
}

.button-link {
  text-transform: capitalize !important;
  color: $color-blue-1 !important;

}

.button-link :before {
  border-bottom: 1px solid $color-blue-2 !important;
}

.input-check-mail {
  height: 85px !important;
  width: 245px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.button-common {
  text-transform: capitalize !important;
}

.button-common:hover {
  background: $color-red-delete-2 !important;
}

.icon_app:hover {
  color: $color-blue-3 !important;
}

.icon_trash:hover {
  color: $color-red-delete-2 !important;
  border-color: $color-red-delete-2 !important;
}

.icon_spotify:hover {
  color: #1DB954 !important;
}

[class*='uk-modal-close-'] {
  top: 12px !important;
  right: 12px !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $color-blue-3;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-blue-3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
