@use "base";

.uk-tab > .uk-active > a {
  border-color: $color-blue-3 !important;
}

img {
  pointer-events: none !important;
}

.uk-overlay-default {
  background: #1e87f0a8 !important;
}

.ap-suggestion {
  color: #05AFF2 !important;
}

.ap-suggestion em {
  color: #144673 !important;
}