@use 'base';

.app-button-contact:hover {
  .text-button-contact {
    color: $color-blue-3 !important;
  }

  .image-contact {
    border: 2.0px solid $color-blue-3;
  }
}

.tag-contact {
  background: $color-blue-2 !important;
  font-size: 0.750rem;
  font-weight: 350;
  font-style: normal;
  line-height: 1.60 !important;
  border-radius: 3px !important;
}
