@use "base";

.tab-contact-desktop {
  @extend .uk-child-width-expand

}

.tab-contact-mobile {
  @extend .uk-tab-right
}


.badge-contact-common {
  background: $color-blue-1 !important;
  margin-right: 15px;
  padding: 0 9px !important;
  text-transform: capitalize;
  font-size: 1.1rem !important;
}

.experience-image-size{
  height: 250px !important;
}
.panel-experience{
  height: 250px !important;
}