@import 'base';

//#header {
//  min-height: 55px;
//  height: 55px;
//}

.navbar-app-web {
  background-color: $color-blue-1 !important;
}
.navbar-item {
  //font-size: 1.00rem;
  color: $color-white !important;
  letter-spacing: 0.024rem;
}

.navbar-item:focus, .navbar-item:hover {
  color: $color-blue-3 !important;
}

.navbar-item-canvas {
  text-transform: uppercase !important;
  font-size: 1.00rem !important;
}
