@use 'base';

.navbar-app-web {
  background-color: $color-blue-1 !important;
}

.darkmode--activated .navbar-app-web {
  background-color: #011233 !important;
}

.navbar-item {
  color: $color-white !important;
  letter-spacing: 0.024rem;
}

.navbar-item:focus, .navbar-item:hover {
  color: $color-blue-3 !important;
}

.navbar-item-canvas {
  text-transform: uppercase !important;
  font-size: 1.00rem !important;
}
