@use "base";

.uk-heading-medium {
  font-size: 2.1rem !important;
}

.uk-heading-large {
  font-size: 4.0rem !important;
}

.text-gray1 {
  color: $color-gray-1 !important;
}

.text-blue3 {
  color: $color-blue-3 !important;
}

.text-blue4 {
  color: $color-blue-4 !important;
}

.text-blue2 {
  color: $color-blue-2 !important;
}

a:link {
  text-decoration: none !important;
}
