{% extends 'html/web/base_web.html' %}
{% load i18n %}

{% block title %}{% translate "Iniciar sesion" %} | {% endblock %}

{% block content_main %}

    <div class="uk-container uk-container-large" style="margin-top: 70px">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m">
                <div class="uk-flex uk-flex-column uk-flex-center">
                    <div class="card-title uk-text-center uk-margin-left uk-margin-bottom">
                        <h1 class="uk-heading-medium">{% translate "Bienvenido de nuevo!" %}</h1>
                    </div>

                    <div class="uk-flex uk-flex-center uk-width-2-4 uk-animation-fade" style="margin: 0 auto">
                        <form method="POST">
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input id="email" name="email" class="uk-input uk-form-large" type="text" required>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input id="password" name="password" class="uk-input uk-form-large" type="password" required>
                                </div>
                            </div>
                            {% csrf_token %}
                            <input type="hidden" id="next" name="next" value="{{ next }}"/>
                            <div class="uk-margin">
                                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Iniciar sesion</button>
                            </div>
                            <div class="uk-text-small ">
                                <div>Olvidaste la contraseña <a href="{% url 'legal_warning' %}" class="uk-button uk-button-text text-line">{% translate "Solicitala aqui" %}</a></div>
                                <div>No tienes cuenta <a href="{% url 'register' %}" class="uk-button uk-button-text text-line">{% translate "Registrate ahora gratis" %}</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {#    <div class="md-6 login-form-1">#}
    {#                    {% if error_login %}#}
    {#                        <div class="alert alert-danger" role="alert">#}
    {#                            Error, comprueba los datos introducidos#}
    {#                        </div>#}
    {#                    {% endif %}#}
    {#                    <form method="POST">#}
    {#                        <div class="form-group">#}
    {#                            <input type="text" id="email" name="email" class="form-control" placeholder="Your Email *"#}
    {#                                   value=""/>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <input type="password" id="password" name="password" class="form-control"#}
    {#                                   placeholder="Your Password *" value=""/>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <input type="hidden" id="next" name="next" value="{{ next }}"/>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            {% csrf_token %}#}
    {#                            <button type="submit" class="btn btn-primary btn-user btn-block">Iniciar sesión</button>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <a href="#" class="ForgetPwd">Forget Password?</a>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}







    {#    <div class="container login-container">#}
    {#        <div class="md-6 login-form-1">#}
    {#            <h3>Login</h3>#}
    {#            {% if error_login %}#}
    {#                <div class="alert alert-danger" role="alert">#}
    {#                    Error, comprueba los datos introducidos#}
    {#                </div>#}
    {#            {% endif %}#}
    {#            <form method="POST">#}
    {#                <div class="form-group">#}
    {#                    <input type="text" id="email" name="email" class="form-control" placeholder="Your Email *"#}
    {#                           value=""/>#}
    {#                </div>#}
    {#                <div class="form-group">#}
    {#                    <input type="password" id="password" name="password" class="form-control"#}
    {#                           placeholder="Your Password *" value=""/>#}
    {#                </div>#}
    {#                <div class="form-group">#}
    {#                    <input type="hidden" id="next" name="next" value="{{ next }}"/>#}
    {#                </div>#}
    {#                <div class="form-group">#}
    {#                    {% csrf_token %}#}
    {#                    <button type="submit" class="btn btn-primary btn-user btn-block">Iniciar sesión</button>#}
    {#                </div>#}
    {#                <div class="form-group">#}
    {#                    <a href="#" class="ForgetPwd">Forget Password?</a>#}
    {#                </div>#}
    {#            </form>#}
    {#        </div>#}
    {#    </div>#}


{% endblock %}

