{% extends 'app/base_app.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Código de Conducta" %} | {% endblock %}

{% block content_main %}

    <div class="container-app uk-container uk-container-large ">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card uk-card-default uk-card-body uk-card-large">
                <div class="card-title uk-flex-inline uk-margin-left uk-margin-bottom">
                    <h1 class="uk-heading-medium">{% translate "Código de Conducta" %}</h1>

                </div>

                                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus mollis metus, sed lacinia
                    risus vulputate ac. Donec porta efficitur sollicitudin. Phasellus pharetra urna elit, quis vehicula
                    sapien malesuada nec. Nulla facilisi. Donec ut turpis luctus, congue nisi non, fringilla nibh. Nam
                    fringilla molestie mi. Sed rhoncus augue volutpat nunc viverra, in viverra lacus finibus. In
                    laoreet, mi vel auctor sagittis, velit tellus varius felis, at aliquet nunc est id lorem. Maecenas
                    ac enim cursus, malesuada augue et, placerat leo. Phasellus consectetur lorem in iaculis laoreet.
                    Aliquam sed lorem facilisis ligula ultricies ultrices nec non mi. Mauris lobortis tempor risus eu
                    luctus. Nunc semper commodo erat vel varius. Proin bibendum in ipsum ut interdum.

                    Quisque turpis justo, lobortis ut ante dapibus, efficitur pharetra orci. Nam ac dolor lacinia,
                    dictum lacus et, egestas metus. Cras non tincidunt lorem. Quisque viverra velit mauris, at
                    scelerisque lacus varius ac. Nam ac rhoncus nunc. Praesent non ipsum magna. Suspendisse et dolor
                    metus. Integer scelerisque tempus dui, non lacinia dui molestie a. Morbi vestibulum velit vitae
                    magna bibendum vulputate. Curabitur facilisis nulla ullamcorper ex tempor, sit amet rutrum elit
                    tincidunt. Mauris eu feugiat magna, volutpat porttitor augue. Aenean ornare aliquam elit sit amet
                    pharetra.

                    Mauris hendrerit molestie tincidunt. Sed tempor lectus ut rhoncus semper. Quisque ipsum tortor,
                    tincidunt in iaculis non, vestibulum quis velit. Phasellus eu purus at odio feugiat vulputate ac id
                    neque. Quisque gravida vulputate faucibus. Curabitur non scelerisque mauris. Sed cursus, massa at
                    mollis lacinia, diam tortor varius nulla, sit amet ultrices felis quam at metus. Interdum et
                    malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Donec dictum vel metus eu pharetra. Proin tincidunt orci
                    eu cursus gravida.

                    Suspendisse ac dapibus arcu. Suspendisse sem velit, mattis id aliquam sed, consectetur ut neque.
                    Cras quis ex eu mauris dictum ornare eget in sapien. Donec odio arcu, congue quis tincidunt mollis,
                    facilisis vel tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Duis vitae rhoncus magna. Cras bibendum posuere justo, vitae bibendum metus interdum
                    quis. Integer sodales commodo mauris, quis congue metus consequat sed. Integer dapibus pretium
                    volutpat. Suspendisse diam mi, placerat pharetra ornare in, interdum quis urna. Ut sed odio quis
                    nisl varius ultrices. Aenean egestas diam risus, vel sodales purus hendrerit nec. Praesent sit amet
                    ex quam. Donec lacinia tellus sed tortor porttitor, nec ultrices odio sodales. Sed ex dui, dignissim
                    nec tristique ac, gravida vel justo.

                    Aliquam erat volutpat. Praesent varius urna suscipit massa placerat blandit. Nullam ornare ligula
                    efficitur nibh mollis, non euismod metus sodales. Duis nec placerat nunc. Nullam facilisis quis enim
                    in blandit. Aenean fringilla tristique sem sed luctus. Duis enim nunc, iaculis nec turpis ut,
                    pretium viverra turpis. Praesent vestibulum tempus urna vel laoreet. Donec auctor ligula in semper
                    porttitor.

                    Aliquam vitae nulla nibh. Cras mauris sem, condimentum eu porta vitae, tristique sed arcu. Aliquam
                    vestibulum ligula in dictum ullamcorper. Pellentesque volutpat mollis lorem sagittis semper. Fusce
                    tempor ipsum lacus. Duis pulvinar varius massa, a tincidunt tellus. In hac habitasse platea
                    dictumst. Proin lorem odio, tristique in nisl in, tristique cursus ligula.

                    Aenean ac ex sit amet ante tristique bibendum vitae ut velit. Ut nec nunc nunc. Aliquam a enim eget
                    metus condimentum consectetur sit amet non metus. Maecenas egestas, tortor vitae accumsan tristique,
                    lacus erat accumsan enim, at lobortis velit erat id nunc. Fusce euismod interdum pretium. Vivamus
                    viverra velit at magna scelerisque, accumsan tincidunt turpis sagittis. Morbi mollis turpis varius,
                    faucibus ante ac, placerat lacus. Nam id turpis venenatis dui molestie bibendum. Aliquam efficitur
                    efficitur justo, vel pulvinar est elementum quis. Aenean lectus nunc, accumsan sed enim id, dapibus
                    pretium leo. Nulla quam nisi, vulputate sed ultricies et, congue non risus. Quisque a porttitor
                    turpis, quis maximus ipsum. Phasellus dapibus erat urna, a tincidunt nunc porttitor at. Quisque
                    consequat rutrum ultrices. Mauris maximus, risus a dapibus faucibus, eros leo condimentum sem, vitae
                    auctor sem ligula eu turpis. Aliquam erat volutpat.

                    Sed sit amet aliquet lacus, in fermentum leo. Donec venenatis nisl et est imperdiet, tincidunt
                    imperdiet purus consectetur. Curabitur molestie fermentum mauris, ac molestie dolor dapibus et.
                    Praesent efficitur dictum libero, vel mollis magna. Nunc malesuada urna nunc, sit amet semper eros
                    euismod ornare. Phasellus ullamcorper volutpat libero, quis accumsan urna interdum et. Class aptent
                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant
                    morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer condimentum mattis
                    urna, egestas eleifend eros eleifend ut. Nam mollis facilisis neque. Integer ante tortor, accumsan
                    in dolor in, malesuada dignissim mauris. Maecenas pellentesque accumsan metus sit amet euismod.
                    Curabitur ultrices semper nulla ac ultrices.

                    Aliquam sit amet mauris at mi pretium tincidunt. Aliquam erat volutpat. Quisque mattis sed arcu non
                    pulvinar. In faucibus ligula porttitor interdum placerat. Vestibulum non aliquet ante. Proin at
                    lobortis neque. Quisque auctor eros urna, in semper nibh tincidunt id. Sed porttitor ex a lectus
                    sodales, egestas tincidunt lorem tempor. Mauris blandit porttitor risus, eget dignissim massa
                    ullamcorper tincidunt. Donec porttitor mollis sodales. Maecenas urna mauris, vulputate nec viverra
                    in, tincidunt at nibh.

                    Maecenas auctor leo ut pharetra hendrerit. Morbi ut venenatis mauris, ut sollicitudin diam. Vivamus
                    et ligula eget enim tincidunt tempor. Nunc quam nulla, rutrum sed libero ac, sollicitudin rhoncus
                    purus. Morbi eu rhoncus lectus. Curabitur ut cursus tortor, quis dictum leo. Aliquam libero lacus,
                    rutrum in leo eget, interdum imperdiet magna. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Mauris turpis erat, tristique vel arcu in, vulputate
                    laoreet sem. Vestibulum id leo eros. Maecenas efficitur viverra tellus id maximus. Cras arcu velit,
                    elementum non sapien vitae, lacinia hendrerit turpis. Nunc dignissim tellus sed varius vulputate.
                    Nam sit amet nunc nibh. Fusce feugiat feugiat diam, ut condimentum quam. Donec imperdiet eros risus,
                    non efficitur arcu semper quis.
                </div>

            </div>
        </div>
    </div>


{% endblock %}