{% load static %}
{% load i18n %}
{% load socialaccount %}

<div class="uk-flex uk-flex-column uk-margin-large-left">
    <div class="uk-margin-small-bottom"><span
            class="uk-text-bold">{% translate "Información personal" %}</span></div>
    <div id="personal-data">
        <div class="uk-flex uk-margin-small-bottom">
            <span class="uk-margin-right">{% translate "Nombre" %}:</span>
            <span>{{ user.first_name }} {{ user.last_name }} </span>
        </div>
        <div class="uk-flex uk-margin-small-bottom">
            <span class="uk-margin-right">{% translate "Email" %}:</span>
            <span>{{ user.email }}</span>
        </div>
        <div class="uk-flex uk-margin-small-bottom">
            <span class="uk-margin-right">{% translate "Contraseña" %}:</span>
            <a class="uk-button uk-button-primary uk-button-small"
               href="{% url 'account_change_password' %}">{% translate "Cambiar contraseña" %}</a>
        </div>
    </div>
    <hr>
    <div>
        <div class="uk-margin-small-bottom uk-flex uk-flex-column">
            <span class="uk-text-bold">{% translate "Conectar cuentas de las redes sociales" %}</span>
            <span class="">{% translate "Utiliza tus cuentas de las redes sociales para iniciar sesión en personaly." %}</span>

            {% if account_data %}
                <div id="social_login_users">
                    <ul class="uk-list uk-list-disc uk-list-muted uk-margin-small-top">
                        {% for social in account_data %}
                            <li>
                                <span>{% translate "Te hemos conectado con tu ID de " %}{{ social.provider }}: </span>
                                <span class="uk-text-bold">{{ social.uid }} ({{ social.name }})</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div>
                    <a class="uk-button uk-button-default uk-button-small uk-margin-small-top"
                       href="{% provider_login_url 'google' %}?process=connect"><span><img class="uk-margin-small-right" width="16"
                                                                           height="16"
                                                                           src="{% static 'img/web/google-ico.svg' %}">{% translate "Conectar con mi cuenta de Google" %}</span>
                    </a>
                </div>
            {% endif %}


        </div>

    </div>
    <hr>
    <div class="uk-flex uk-flex-column">
        <div>
            <button class="uk-button uk-button-danger uk-button-small">{% translate "Eliminar mi cuenta personaly" %}</button>
        </div>
        <span class="uk-text-meta uk-margin-small-top">{% translate "Eliminar tu cuenta es algo permanente. Se borrarán todos tus datos inmediatamente y no podrás recuperarlos. Requiere contraseña." %}</span>
    </div>

</div>