{% load i18n %}

<div class="uk-flex uk-flex-column uk-margin-large-left uk-width-1-1">
    <div class="uk-margin-small-bottom"><span class="uk-text-lead">{% translate "General" %}</span></div>
    <span class="uk-text-meta">{% translate "Configura los aspectos básicos." %}</span>
    <div id="language" class="uk-margin-small-top">
        <div class="uk-flex uk-margin-small-bottom uk-flex-middle">
            <span class="uk-margin-right uk-text-meta">{% translate "Idioma" %}:</span>
            <span>{{ LANGUAGE | capfirst }}</span>
        </div>
    </div>
    <hr>
    <div id="theme">
        <div class="uk-margin-small-bottom"><span
                class="uk-text-lead">{% translate "Tema" %}</span></div>
        <span class="uk-text-meta">{% translate "Elige cómo se ve personaly." %}</span>
        <div class="uk-flex uk-flex-middle uk-margin-small-top">
            <span class="uk-margin-right uk-text-meta">{% translate "Modo noche" %}:</span>
            <label class="switch">
                <input id="checkbox_theme" type="checkbox" onclick="appJS.darkToggle()">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>