{% extends "minimal.html" %}
{% load i18n %}
{% load static %}


{% block content %}

    <head>
        <!-- start:css -->
        <link rel="stylesheet" href="/dist/css/personaly.web.985802eeca0b57494105.css"/>
        <!-- end:css -->
    </head>
    <!-- start:js -->
    <script src="/dist/js/personaly.vendors.4adaa46ba6e917a95e59.js"></script>
    <script src="/dist/js/personaly.web.dd85459196f0e2545327.js"></script>
    <!-- end:js -->

    {% include "web/nav_web.html" %}
    <div id="web" class="content-web"> {% block content_main %}{% endblock %}</div>
    {% include "web/footer_web.html" %}

{% endblock %}




