{% extends "minimal.html" %}
{% load i18n %}
{% load static %}


{% block content %}

    <head>
        <!-- start:css -->
        <link rel="stylesheet" href="/dist/css/personaly.web.fe164f9f9c863529821f.css"/>
        <!-- end:css -->
    </head>
    <!-- start:js -->
    <script src="/dist/js/personaly.vendors.278ce43a7fe694976283.js"></script>
    <script src="/dist/js/personaly.web.32067e4d15403e0afe56.js"></script>
    <!-- end:js -->

    {% include "web/nav_web.html" %}
    <div id="web" class="content-web"> {% block content_main %}{% endblock %}</div>
    {% include "web/footer_web.html" %}

{% endblock %}




