{% extends "minimal.html" %}
{% load i18n %}
{% load static %}


{% block content %}

    <head>
        <!-- start:css -->
        <link rel="stylesheet" href="/dist/css/personaly.web.014114f57a02a15033ad.css"/>
        <!-- end:css -->
    </head>
    <!-- start:js -->
    <script src="/dist/js/personaly.vendors.93202141ccabff5670ca.js"></script>
    <script src="/dist/js/personaly.web.de6bec13da4080fddc47.js"></script>
    <!-- end:js -->

    {% include "web/nav_web.html" %}
    <div id="web" class="content-web"> {% block content_main %}{% endblock %}</div>
    {% include "web/footer_web.html" %}

{% endblock %}




