{% load static %}
{% load i18n %}

<!--HEADER-->
<header class="navbar-app-web">
    <div class="uk-container">
        <nav class="" data-uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="{% url 'web' %}"><img class="uk-preserve" src="{% static 'img/personaly-1.svg' %}" width="180" alt="personaly" uk-svg></a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@s">
                    <li><a class="navbar-item" href="{% url 'account_login' %}"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: sign-in"></span>{% translate "Iniciar Sesión" %}</a></li>
                </ul>
                <div class="uk-hidden@s"><a class="uk-navbar-toggle navbar-item" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a></div>
            </div>
        </nav>
    </div>
</header>
<!--/HEADER-->
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon navbar-item" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header navbar-item-canvas uk-margin-small-bottom">{% translate "Menú" %}</li>
            <li><a class="navbar-item navbar-item-canvas" href="{% url 'account_login' %}"><span class="uk-margin-small-right uk-margin-small-bottom uk-icon" data-uk-icon="icon: sign-in"></span>{% translate "Iniciar Sesión" %}</a></li>
        </ul>
    </div>
</div>
<!-- /OFFCANVAS -->
<div class="nav-alerts">
    {% for message in messages %}
        <div class="{{ message.tags }}" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p class="uk-margin-left">{{ message }}</p>
        </div>
    {% endfor %}
</div>