{% load i18n %}
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <noscript>
        <div class="uk-flex uk-flex-center">
            <span class="uk-text-danger uk-text-center uk-text-large">{% translate "El uso de javascript es necesario para el correcto funcionamiento de personaly." %}</span>
        </div>
    </noscript>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="description" content="personaly"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="personaly"/>

    <link rel="icon" type="image/x-icon" href="{% static '/img/ico/favicon.ico' %}"/>
    <link rel="manifest" href="{% static 'manifest.json' %}"/>
    <meta name="theme-color" content="#144673"/>


    <title>{% block title %}{% endblock %}personaly</title>

    <link rel="stylesheet" href="https://use.typekit.net/pxy8mka.css">

    <script src="{% url 'js_urls' %}" type="text/javascript"></script>
    <script src="{% url 'javascript-catalog' %}"></script>


</head>

{% block content %} {% endblock %}

</html>
