{% load handlebars %}
{% load static %}
{% load i18n %}

<script>
    let commonJS = new ContactCommon();
</script>

<div id="component_common_contact">
    <button id="button_add_family" onclick="commonJS.open_modal_create_common()"
            class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"><span class="uk-margin-small-right"
                                                                                          uk-icon="plus"></span>{% translate "Añadir cosa en común" %}
    </button>
    <div id="text_common_contact" class="uk-text-center uk-margin-top uk-hidden">
        <span>&#127871;&#129495; {% translate "Registra cosas en común que tengas con" %} {{ contact.name | capfirst }}.</span>
    </div>
    <div id="component_all_common" class="uk-grid"></div>
</div>


<script id="template_contact_common" type="text/x-handlebars-template">
    {{ "#commons" | handlebars }}
    <div id="{{ 'common_id'| handlebars }}" class="uk-margin-top">
        <a href="#" onclick="commonJS.openModalDeleteCommon('{{ 'common_id'| handlebars }}', '{{ 'common_text'| handlebars }}')"
           class="button-common badge-contact-common uk-badge uk-button"
           uk-tooltip="title:{% translate "Eliminar" %}; pos: bottom-center">{{ 'common_text'| handlebars }}</a>
    </div>
    {{ "/commons" | handlebars }}
</script>


{# ADD COMMON #}
<div id="modal_create_common" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{% translate "Añadir cosa en comun" %}</h2>
        </div>
        <div class="uk-modal-body">
            <form id="form_modal_add_common" class="uk-form-stacked">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <div class="uk-form-controls uk-flex uk-flex-column">
                            <label for="input_text_common"
                                   class="uk-form-label ">{% translate "Cosa en común con" %} {{ contact.name | capfirst }}</label>
                            <input name="text_common" class="uk-input" placeholder="{% trans "Yoga, escalada, cine ..." %}"></input>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button id="button_save_contact_common" class="uk-button uk-button-primary"
                    data-value='{% translate "Guardar" %}' onclick="commonJS.createContactCommon()"
                    type="button">{% translate "Guardar" %}</button>
        </div>
    </div>
</div>
{# END ADD COMMON #}
{# DELETE COMMON#}
<div id="modal_delete_common" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Eliminar cosa en comun</h2>
        <p>¿Estás seguro de que quieres borrar "<span id="common_text" class="uk-text-bold uk-text-capitalize"></span>"?
        </p>
        <p>Esta acción no puede deshacerse.</p>
        <input id="common_id_modal" name="common_id" type="hidden">
        <p class="uk-text-right">
            <button onclick="commonJS.deleteCommonContact()" class="uk-button uk-button-danger"
                    type="submit"><span class="uk-margin-small-right"
                                        uk-icon="trash"></span>Borrar
            </button>
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
        </p>

    </div>
</div>
{# END DELETE COMMON #}

<script>
    commonJS.compileTemplate();
</script>
