{% load static %}
{% load i18n %}
<script src="{% static 'js/contact_notes_001.js' %}"></script>
<script>
    let notesJS = new Contact_note(
        app = appJS,
        contact = contactJS,
        count_notes = {{ count_list_notes }},
        url_api_note = '{% url 'api_v2:note_contact-list' %}',
        message_error_create = 'error al crear la nota',
        message_success_delete_note = 'Nota eliminada con exito',
        message_error_delete_note = 'Ocurrio un problema al borrar la nota',
    )
</script>
<div id="component_notes_contact">
    <button id="button_add_family" onclick="notesJS.openModalAddNote()"
            class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"><span class="uk-margin-small-right"
                                                                                          uk-icon="plus"></span>{% translate "Añadir nota" %}
    </button>
    <div>
        <div id="text_note_contact" class="uk-text-center uk-margin-top">
            <span>&#128221; {% translate "¿Hay algo que quieras recordar sobre" %} {{ contact.name | capfirst }}?</span>
        </div>
        <script>
            contactJS.textVisible(notesJS.getCountNotes, '#text_note_contact')
        </script>
    </div>

    <div id="component_all_notes" class="uk-margin-top">
        {% for note in list_notes %}
            <div id="{{ note.id }}"
                 class="card-note-contact uk-card uk-card-small uk-box-shadow uk-card-default uk-card-body uk-width-auto">
                <div class="uk-flex uk-flex-center uk-flex-between">
                    <div>
                        <span>{{ note.text | capfirst }}</span>
                        <span class="uk-text-light uk-text-primary"> ({{ note.created_at | date:"SHORT_DATE_FORMAT" }} {{ note.created_at |time:"H:i" }})</span>
                    </div>
                    <div>
                        <div id="component_option_note" style="width: 20px">
                            <div class="uk-inline">
                                <a data-uk-icon="icon:more-vertical"></a>
                                <div data-uk-dropdown="mode: click; pos:bottom-right">
                                    <ul class="uk-nav uk-dropdown-nav uk-dropdown-close">
                                        <li class="uk-text-middle">
                                            <a class="icon_app" href="#"
                                               onclick="notesJS.openModalEditNote('{{ note.text }}', '{{ note.id }}')"><span
                                                    class="uk-margin-small-right"
                                                    data-uk-icon="icon: pencil; ratio: 0.9"></span>{% translate "Editar nota" %}
                                            </a>
                                        </li>
                                        <li class="uk-text-middle">
                                            <a class="icon_trash"
                                               onclick="notesJS.deleteNoteContact('{{ note.id }}')"><span
                                                    class="uk-margin-small-right"
                                                    data-uk-icon="icon: trash; ratio: 0.9"></span><span>{% translate "Eliminar nota" %}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{#ANADIR NOTA CONTACTO#}
<div id="modal_contact_note" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{% translate "Crear nota" %}</h2>
        </div>
        <div class="uk-modal-body">
            <input type="text" id="id_note_input" class="uk-hidden">
            <form id="form_modal_note" class="uk-form-stacked">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <div class="uk-form-controls uk-flex uk-flex-column">
                            <textarea id="input_text_note" name="text_note" class="uk-textarea" rows="5"
                                      style="resize: none"
                                      placeholder="{% trans "Añadir nota" %}"></textarea>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button id="button_save_contact_note" class="uk-button uk-button-primary"
                    data-value='{% translate "Guardar" %}' onclick="notesJS.createNoteContact()"
                    type="button">{% translate "Guardar" %}</button>
        </div>
    </div>
</div>
{#END ANADIR NOTA CONTACTO#}
<script>
    $("#form_modal_note").on('submit', function (evt) {
        evt.preventDefault();
    });
    $(document).ready(function () {
        $('#form_modal_note').validate({
                errorClass: "uk-form-danger uk-text-small",
                rules: {
                    text_note: {
                        required: true,
                        minlength: 3,
                        maxlength: 350
                    }
                },
                messages: {
                    text_note: {
                        required: '{% translate "Campo obligatorio." %}',
                        minlength: '{% translate "Mínimo 3 caracteres." %}',
                        maxlength: '{% translate "Maximo 350 caracteres." %}'
                    }
                }
            }
        )
    });
</script>