{% load handlebars %}
{% load static %}
{% load i18n %}

<script>
    let familyJS = new ContactFamily();
</script>

<div id="component_family_contact">
    <button id="button_add_family" onclick="familyJS.modalCreateFamily()"
            class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"><span class="uk-margin-small-right"
                                                                                          uk-icon="plus"></span>{% translate "Añadir relación familiar/amorosa" %}
    </button>
    <div>
        <div id="text_family_contact" class="uk-text-center uk-margin-top">
            <span>&#128106;&#128021; {% translate " Añade las relaciones familiares o de pareja de " %} {{ contact.name | capfirst }}.</span>
        </div>
        <script>
            contactJS.textVisible(familyJS.count_family, '#text_family_contact')
        </script>
    </div>
    <div id="component_all_family" class="uk-margin-top"></div>
</div>

<script id="template_contact_family" type="text/x-handlebars-template">
    <ul class="uk-list uk-list-divider">
        {{ "#family" | handlebars }}
        <li id="{{ "family_id" | handlebars }}" class="uk-flex uk-flex-center uk-flex-between">
            <div>
                <span class="uk-text-capitalize uk-h4">{{ "family_name" | handlebars }} {{ "family_surnames" | handlebars }}</span>
                <span class="uk-text-light uk-text-primary"> ({{ "family_relation_name" | handlebars }})</span>
            </div>
            <ul class="uk-iconnav uk-width-auto uk-margin-right">
                <li><a onclick="familyJS.modalEditFamily('{{ "family_id" | handlebars }}' )"
                       class="icon_app"
                       uk-tooltip="title:{% translate "Editar" %}; pos: bottom"
                       uk-icon="icon:  file-edit"></a></li>
                <li><a onclick="familyJS.deleteFamilyContact('{{ "family_id" | handlebars }}')" class="icon_trash"
                       uk-icon="icon: trash"
                       uk-tooltip="title:{% translate "Eliminar" %}; pos: bottom"></a></li>
            </ul>
        </li>
        {{ "/family" | handlebars }}
    </ul>
</script>

{# MODAL FAMILY #}
<div id="modal_family" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">
                <span id="title_modal_family"></span>
                <span class="uk-text-capitalize" id="name_contact_modal_family"></span>
            </h2>
        </div>
        <div class="uk-modal-body">
            <form id="form_modal_family_create_edit" class="uk-form-stacked">
                <div class="uk-flex">
                    <div class="uk-width-2-4 uk-flex-first">
                        <div class="uk-form-controls uk-flex uk-flex-column">
                            <label for="input_name_family" class="uk-form-label ">{% translate "Nombre" %}</label>
                            <input id="input_name_family" name="name_family"
                                   class="uk-input uk-form-width-medium uk-text-capitalize" type="text">
                        </div>
                    </div>
                    <div class="uk-width-2-1 uk-flex-last">
                        <div class="uk-form-controls uk-flex uk-flex-column">
                            <div class="uk-flex uk-flex-between">
                                <label for="input_surnames_family"
                                       class="uk-form-label ">{% translate "Apellidos" %}</label>
                                <label for="input_surnames_family"
                                       class="uk-form-label uk-text-muted uk-margin-small-right">{% translate "Opcional" %}</label>
                            </div>
                            <input id="input_surnames_family" name="surname_family" class="uk-input uk-text-capitalize"
                                   type="text">
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-width-2-1 uk-flex-first">
                        <label class="uk-form-label ">{% translate "Tipo de relación" %}</label>
                        <div class="uk-form-controls">
                            {{ form_relation }}
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button id="button_save_contact_family" class="uk-button uk-button-primary"
                    data-value='{% translate "Guardar" %}'
                    type="button">{% translate "Guardar" %}</button>
        </div>
    </div>
</div>
{# END MODAL FAMILY #}

<script>
    familyJS.compileTemplate();
</script>