{% load i18n %}
<div>
    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"><span class="uk-margin-small-right"
                                                                                          uk-icon="plus"></span>Añadir
        experiencia
    </button>

    {% for experience in list_experiences %}
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin-top">
            <h3 class="uk-card-title">{{ experience.tittle }} | {{ experience.location }} | {{ experience.date }}</h3>

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
                <ul class="uk-slider-items uk-grid">
                    {% for photo in experience.get_list_photos %}

                        <li class="uk-width-1-2">
                            <div class="uk-panel panel-experience">
                                <img class="experience-image-size" src="{{ photo }}" alt="">
                            </div>
                        </li>

                    {% endfor %}
                </ul>
                <a class="uk-position-center-left uk-position-small " href="#" uk-slidenav-previous
                   uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                   uk-slider-item="next"></a>

            </div>
        </div>
    {% endfor %}

</div>