{% load handlebars %}
{% load static %}
{% load i18n %}

<script>
    let experienceJS = new ContactExperience();
</script>

<div id="component_family_contact">
    <button id="button_add_family" onclick="experienceJS.modalCreateExperience()"
            class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"><span class="uk-margin-small-right"
                                                                                          uk-icon="plus"></span>{% translate "Añadir experiencia" %}
    </button>
    <div>
        <div id="text_experience_contact" class="uk-text-center uk-margin-top uk-hidden">
            <span>&#127758; {% translate "Registra viajes y experiencias que has hecho con" %} {{ contact.name | capfirst }} {% translate "en el pasado." %}</span>
        </div>
    </div>
    <div id="component_all_experiences" class="uk-margin-top"></div>
</div>


<script id="template_contact_experience" type="text/x-handlebars-template">
    {{ "#experiences" | handlebars }}
    <div id="{{ "experience_id" | handlebars }}"
         class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin-top">

        <div class="uk-card-title uk-flex uk-flex-column uk-margin-bottom">
            <div class="uk-flex uk-flex-between">
                <div><span class="uk-text-capitalize">{{ "experience_tittle" | handlebars }}</span><span class="uk-text-light uk-text-primary uk-margin-small-left uk-h3">{{ "experience_year" | handlebars }}</span>
                </div>
                <div>
                    <ul class="uk-iconnav uk-width-auto uk-margin-right">
                        <li><a onclick=""
                               class="icon_app"
                               uk-tooltip="title:{% translate "Editar" %}; pos: bottom"
                               uk-icon="icon:  file-edit"></a></li>
                        <li><a onclick=""
                               class="icon_trash"
                               uk-icon="icon: trash"
                               uk-tooltip="title:{% translate "Eliminar" %}; pos: bottom"></a></li>
                    </ul>
                </div>
            </div>

            <span class="uk-text-meta uk-margin-small-top"><span
                    uk-icon="location"></span>{{ "experience_location" | handlebars }}</span>
        </div>


        <div id="image_slider_{{ "experience_id" | handlebars }}" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {#                    <li class="splide__slide">#}
                    {#                        <img width="300" height="300"#}
                    {#                             src="https://maps.geoapify.com/v1/staticmap?style=klokantech-basic&width=300&height=300&center=lonlat:-5.8448989,43.3605977&zoom=8&apiKey=350aff7909c74306ae9c39848d54a916">#}
                    {#                    </li>#}
                    {{ "#images" | handlebars }}
                    <li class="splide__slide">
                        <img style="height: 300px" src="{{ "url_image" | handlebars }}"
                             alt="{{ "experience_tittle" | handlebars }}">
                    </li>
                    {{ "/images" | handlebars }}
                </ul>
            </div>
        </div>

    </div>
    {{ "/experiences" | handlebars }}
</script>


{#ANADIR EXPERIENCIA #}
<div id="modal_create_experiences" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{% translate "Añadir experiencia" %}</h2>
        </div>
        <div class="uk-modal-body">
            <div class="uk-width-2-1 uk-flex-first">
                <label class="uk-form-label ">¿Qué hiciste con xxx?</label>
                <div class="uk-form-controls">
                    <input class="uk-input " type="text" required>
                </div>
            </div>
            <div class="uk-width-2-1 uk-flex-last">
                <label class="uk-form-label ">¿Donde?</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" required>
                </div>
            </div>

            <div class="uk-width-2-1 uk-flex-first">
                <label class="uk-form-label " for="{{ form.name.id_for_label }}">¿Cuando?</label>
                <div class="uk-form-controls">
                    <input class="uk-input " type="date" required>
                </div>
            </div>
            <div class="uk-width-2-1 uk-flex-last uk-margin-top">
                <div class="js-upload uk-placeholder uk-text-center">
                    <span uk-icon="icon: cloud-upload"></span>
                    <span class="uk-text-middle">Adjunte las fotografías dejándolos caer aquí o</span>
                    <div uk-form-custom>
                        <input type="file" multiple>
                        <span class="uk-link">seleccionando uno</span>
                    </div>
                </div>
            </div>


        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button id="button_save_contact_common" class="uk-button uk-button-primary"
                    data-value='{% translate "Guardar" %}' onclick=""
                    type="button">{% translate "Guardar" %}</button>
        </div>
    </div>
</div>
{#END ANADIR EXPERIENCIA#}

<script>
    experienceJS.compileTemplate();
</script>