{% load static %}
<div id="contact_header" class="uk-flex uk-flex-row uk-flex-nowrap ">
    <div class="uk-flex">
        {#        <img class="uk-border-rounded" src="/media{{ contact.image_contact }}" width="120" height="120" alt="{{ contact.name }} {{ contact.surnames }}">#}

        {% if contact.image_contact %}
            <img class="uk-border-rounded" src="/media{{ contact.image_contact }}" width="120" height="120"
                 alt="{{ contact.name }} {{ contact.surnames }}">
        {% else %}
            <img class="uk-border-rounded" src="{% static 'img/app/contact_default.svg' %}" width="120" height="120"
                 alt="{{ contact.name }} {{ contact.surnames }}">
            {#                            <img class="uk-border-circle image-contact" width="50" height="50"#}
            {#                                 data-src="{% static 'img/app/contact_default.svg' %}"#}
            {#                                 alt="{{ contact.name }} {{ contact.surnames }}" uk-img>#}
        {% endif %}


    </div>
    <div class="uk-flex uk-flex-column uk-flex-nowrap uk-flex-between uk-flex-center uk-margin-large-left">
        <div class=""><h1 class="uk-heading-medium ">{{ contact.name |title }} {{ contact.surnames | title}}</h1></div>
        <div class="uk-flex-inline">
            {% if contact.phone %}
                <span class="uk-margin-small-right" uk-icon="icon: receiver"></span>{{ contact.phone }}
            {% endif %}
            {% if contact.location %}
                <span class="uk-margin-left uk-margin-small-right" uk-icon="icon: location"></span>
                {{ contact.location }}
            {% endif %}
        </div>
        <div class="uk-flex-inline">
            {% for tag in tags_list %}
                <div class="uk-container uk-flex-inline ">
                    {% if tag.contact == contact %}
                        <div class="uk-label tag-contact">
                            <span class="tag-emoji">{{ tag.icon }}</span>
                            <span class="text-tag-contact">{{ tag.text }}</span>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>