{% load static %}
{% load handlebars %}
<div id="component_contact_header" class="uk-margin-top"></div>

<script id="template_contact_header" type="text/x-handlebars-template">
    <div id="contact_header" class="uk-flex uk-margin-small-left">
        <div class="uk-width-small">
            {{ '#if image_contact' | handlebars }}
            <img class="uk-border-rounded" width="120" height="120" data-src="{{ 'image_contact' | handlebars }}"
                 alt="" uk-img>
            {{ 'else' | handlebars }}
            <img class="uk-border-rounded" width="120" height="120" data-src="{% static 'img/app/contact_holder.jpg' %}"
                 alt="{{ name }} {{ surnames }}" uk-img>
            {{ '/if' | handlebars }}
        </div>

        <div class="uk-flex uk-flex-column uk-flex-between uk-flex-center uk-margin-small-left">
            <div class=""><span class="uk-heading-medium uk-h1 uk-text-capitalize">{{ 'name' | handlebars }} {{ 'surnames' | handlebars }}</span></div>
            <div class="uk-flex uk-flex-inline uk-margin-small-top">
                {{ '#if phone' | handlebars }}
                <div class="uk-margin-right"><span class="uk-margin-small-right" uk-icon="icon: receiver"></span>{{ 'phone' | handlebars }}</div>
                {{ '/if' | handlebars }}
                {{ '#if location' | handlebars }}
                <div class="uk-margin-right"><span class="uk-margin-small-right" uk-icon="icon: location"></span>{{ 'location' | handlebars }}</div>
                {{ '/if' | handlebars }}
            </div>
            <div class="uk-flex uk-flex-row uk-flex-wrap uk-margin-small-top">
                {{ "#tags" | handlebars }}
                <div class="uk-flex uk-flex-inline uk-flex-wrap">
                    <div class="uk-label tag-contact uk-text- uk-margin-small-right" style="margin-top: 4px">
                        <span class="uk-margin-small-right">{{ 'icon_tag' | handlebars }}</span>
                        <span class="">{{ 'name_tag' | handlebars }}</span>
                    </div>
                </div>
                {{ "/tags"| handlebars }}
            </div>
        </div>

    </div>
</script>