{% extends "html/minimal.html" %}
{% load i18n %}
{% load static %}


{% block content %}


    <nav id="header" class="navbar navbar-app-web navbar-expand-lg fixed-top navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">personaly</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                {#                <span class="navbar-toggler-icon"></span>#}
            </button>
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a class="navbar-link" href="{% url 'login' %}"><i
                                class="fas fa-sign-in-alt"></i>{% translate "Inicia sesión" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div id="body">{% block content_main %}{% endblock %}</div>

    <footer id="footer">
        <div class="container">
            <p class="m-0 text-center text-white small">personaly 2020</p>
        </div>
    </footer>


{% endblock %}




