{% extends 'web/base_web.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock %}

{% block content_main %}
    <script src="{% static 'js/web.js' %}"></script>
    <meta name="Description" content="personaly, crm-personal, personal-crm, gestionar contactos">


    <div class="cover uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover"
         data-src="{% static 'img/personal-crm.webp' %}" uk-img>
        <div id="circles" class="uk-container">
            <div class="bg-circle-1 bg-circle uk-visible@m"></div>
            <div class="bg-circle-2 bg-circle uk-visible@m"></div>
            <div class="bg-circle-3 bg-circle uk-visible@m"></div>
        </div>
        <div id="caption"
             class="uk-container uk-position-cover uk-flex-inline uk-flex-column uk-flex-center uk-text-center">
            <div>
                <h1 class="text-head uk-animation-fade">{% translate "Construya relaciones personales más sólidas" %}</h1>
            </div>
            <div class="uk-margin-top">
                <a href="{% url 'register' %}"
                   class="uk-button uk-button-secondary uk-button-large">{% translate "Regístrate ya gratis" %}</a>
            </div>
        </div>

    </div>


    <section id="1" class="uk-margin-large-top">
        <div class="uk-container">
            <div class="uk-child-width-expand@s" uk-grid>
                <div>
                    <h2 class="uk-heading-large">{% translate "Recuerda lo que es importante" %}</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="uk-grid-item-match">
                    <div class="uk-align-left">
                        <img class="uk-preserve uk-animation-fade" width="300"
                             src="{% static 'img/app/notes_contact.svg' %}" alt="notes" uk-svg>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="2" class="uk-margin-xlarge-top">
        <div class="uk-container">
            <div class="uk-child-width-expand@s" uk-grid>
                <div class="uk-grid-item-match">
                    <div class="uk-align-right">
                        <img class="uk-preserve uk-animation-fade" width="300" src="{% static 'img/app/secure.svg' %}"
                             alt="secure" uk-svg>
                    </div>
                </div>
                <div id="text-2-web">
                    <h2 class="uk-heading-large">{% translate "Totalmente seguro" %}</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section id="3" class="uk-margin-xlarge-top uk-margin-xlarge-bottom">
        <div class="uk-container">
            <div class="uk-child-width-expand@s" uk-grid>
                <div>
                    <h2 class="uk-heading-large">{% translate "Crea lazos más fuertes" %}</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="uk-grid-item-match">
                    <div class="uk-align-left">
                        <img class="uk-preserve uk-animation-fade" width="300" src="{% static 'img/app/hang_out.svg' %}"
                             alt="notes" uk-svg>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
