{% extends 'web/base_web.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %} | {% endblock %}

{% block content_main %}


    <div class="uk-container uk-container-large" style="margin-top: 70px">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m">
                <div class="uk-flex uk-flex-column uk-flex-center">
                    <div class="card-title uk-text-center uk-margin-left uk-margin-bottom">
                        <h1 class="uk-heading-medium">{% trans "Sign In" %}</h1>
                    </div>
                    <div class="uk-flex uk-flex-center uk-animation-fade uk-width-large" style="margin: 0 auto">
                        <div>
                            <div id="social_login" class="uk-margin uk-flex uk-flex-column">
                                <a class="uk-button uk-button-default uk-button-large uk-width-1-1"
                                   href="{% provider_login_url 'google' %}"><span
                                        class="uk-margin-small-right"></span><img class="uk-margin-small-right"
                                                                                  width="16" height="16"
                                                                                  src="{% static 'img/web/google-ico.svg' %}">{% translate "Continuar con Google" %}
                                </a>
                                <a class="uk-button uk-button-default uk-button-large uk-width-1-1 uk-margin-small-top"
                                   href="{% provider_login_url 'google' %}"><span
                                        class="uk-margin-small-right"></span><img class="uk-margin-small-right"
                                                                                  width="16" height="16"
                                                                                  src="{% static 'img/web/apple-ico.svg' %}">{% translate "Continuar con Apple" %}
                                </a>
                            </div>
                            <p class="uk-heading-line uk-text-center"><span>{% trans "O" %}</span></p>

                            <form class="login" method="POST" action="{% url 'account_login' %}">
                                {% csrf_token %}
                                <div class="uk-margin uk-flex uk-flex-column">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                        {{ form.login }}
                                    </div>
                                    {% if form.login.errors %}
                                        {% for error in form.login.errors %}
                                            <div>
                                                <span class="uk-text-light uk-text-danger uk-text-truncate">{{ error|escape }}</span>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="uk-margin uk-flex uk-flex-column">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                        {{ form.password }}
                                    </div>
                                    {% if form.password.errors %}
                                        {% for error in form.password.errors %}
                                            <div>
                                                <span class="uk-text-light uk-text-danger uk-text-truncate">{{ error|escape }}</span>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                    <label class="uk-text-meta">{{ form.remember }}{% trans " Mantenerme dentro de mi sesión" %}</label>
                                </div>

                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                                        type="submit">{% trans "Sign In" %}</button>
                            </form>

                            <hr class="uk-divider-small uk-text-center">

                            <div class="uk-text-small uk-text-center">
                                <div><a href="{% url 'account_reset_password' %}"
                                        class="uk-button uk-button-text button-link">{% trans "Forgot Password?" %}</a>
                                </div>
                                <div>{% translate "¿No tienes una cuenta?" %}<a href="{% url 'account_signup' %}"
                                                                                class="uk-button uk-button-text button-link"
                                                                                style="margin-left: 3px">{% trans "Signup" %} </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}