{% extends 'app/base_app.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Change Password" %} | {% endblock %}

{% block content_main %}


    <div id="component_contact" class="container-app uk-container uk-container-large">
        <div class="uk-flex uk-flex-center">
            <div class="card-app uk-card uk-card-default uk-card-body uk-animation-fade">
                <div class="card-title uk-flex-inline uk-margin-left uk-margin-bottom">
                    <h1 class="uk-heading-medium">{% trans "Change Password" %}</h1>
                </div>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="action">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>

            </div>

        </div>
    </div>

    <script>
        appJS.page_ready()
    </script>



{% endblock %}