{% extends 'web/base_web.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Password Reset" %} | {% endblock %}

{% block content_main %}


    <div class="uk-container uk-container-large" style="margin-top: 70px">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m">
                <div class="uk-flex uk-flex-column uk-flex-center">
                    <div class="card-title uk-text-center uk-margin-left uk-margin-bottom">
                        <h1 class="uk-heading-medium">{% translate "Password Reset" %}</h1>
                    </div>

                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <div class="uk-flex uk-flex-center uk-width-2-4 uk-animation-fade" style="margin: 0 auto">
                        <div>
                            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                {% csrf_token %}
                                <div class="uk-margin uk-flex uk-flex-column">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                        {{ form.email }}
                                    </div>
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <div>
                                                <span class="uk-text-light uk-text-danger uk-text-truncate">{{ error|escape }}</span>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>


                                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                                        type="submit">{% trans "Reset My Password" %}</button>
                            </form>

                            <p class="uk-text-meta">{% blocktrans %}Póngase en contacto con nosotros si tiene problemas
                                para restablecer su
                                contraseña.{% endblocktrans %}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}