{% extends "minimal.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    {% csrf_token %}

    <head>
        <!-- start:css -->
        <link rel="stylesheet" href="/dist/css/personaly.app.9ce97a0259f272355373.css"/>
        <!-- end:css -->
    </head>

    <!-- start:js -->
    <script src="/dist/js/personaly.app.839806b51ebc7ff9d9e0.js"></script>
    <script src="/dist/js/personaly.vendors.4adaa46ba6e917a95e59.js"></script>
    <!-- end:js -->

    <script>
        let appJS = new App(owner = '{{ owner.id }}')
    </script>

    {% include "app/nav_app.html" %}
    <body id="app">

    <div id="loading_app" class="uk-flex uk-flex-center uk-margin-top">
        <img class="uk-preserve uk-width-small" width="400"
             src="{% static 'img/app/loading.png' %}" alt="" uk-svg>
    </div>


    {% block content_main %}{% endblock %}
    </body>

    {% include "dashboard/modals.html" %}
    {% include "app/footer_app.html" %}

{% endblock %}