{% extends "minimal.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    {% csrf_token %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    <script src="{% static 'vendor/jquery_templating/js/jquery.loadTemplate.min.js' %}"></script>

   <script src="{% static 'vendor/handlebars-v4.7.6.js' %}"></script>

    <script src="{% url 'js_urls' %}" type="text/javascript"></script>
    <script>
        let appJS = new app(
            owner = '{{ owner.id }}',
            url_api_contact = '{% url 'api_v2:contact-list' %}',
            message_error_create = 'Error al crear el contacto',
            message_success_delete_contact = 'Contacto borrado con exito',
            message_error_delete_contact = 'Error al borrar el contacto',
            message_error_edit_contact = 'Error al editar el contacto'
        )
    </script>

    {% include "app/nav_app.html" %}
    <body id="app">

    <div id="loading_app" class="uk-flex uk-flex-center uk-margin-top">
        <img class="uk-preserve uk-width-small" width="400"
             src="{% static 'img/app/loading.svg' %}" alt="" uk-svg>
    </div>


    {% block content_main %}{% endblock %}
    </body>

    {% include "dashboard/modals.html" %}
    {% include "app/footer_app.html" %}

{% endblock %}