{% load i18n %}
<footer id="footer_app" class="uk-margin-large-top uk-visible@m">
    <div class="uk-flex-inline uk-flex-middle" uk-grid>
        <ul class="footer-left uk-iconnav uk-margin-left">
            <li><a href="#" class="icon-footer" uk-icon="icon: twitter"></a></li>
            <li><a href="#" class="icon-footer" uk-icon="icon: linkedin"></a></li>
        </ul>
        <div class="footer-right uk-flex-last">
            <a href="{% url 'legal_warning' %}"
               class="uk-button uk-button-text text-line uk-margin-right">{% translate "Aviso Legal" %}</a>
            <a href="{% url 'privacy_policy' %}"
               class="uk-button uk-button-text text-line uk-margin-right">{% translate "Política de Privacidad" %}</a>
            <a href="{% url 'code_conduct' %}"
               class="uk-button uk-button-text text-line uk-margin-right">{% translate "Código de Conducta" %}</a>
        </div>
    </div>
</footer>
