{% extends 'app/base_app.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Contactos" %} | {% endblock %}

{% block content_main %}

    <div class="container-app uk-container uk-container-large">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m">

                <ul class="uk-iconnav btn-actions-tittle uk-flex-right">
                    <li><a href="#modal_create_contact" class="uk-icon-link" uk-icon="icon: plus"
                           uk-tooltip="title: {% translate "Añadir contacto" %}; pos: bottom-left" uk-toggle></a>
                </ul>

                <div class="card-title uk-flex-inline uk-margin-left uk-margin-bottom">
                    <h1 class="uk-heading-medium">{% translate "Contactos" %}</h1>
                </div>
                {% if count_contacts == 0 %}
                    <div class="uk-container">

                        <div class="uk-flex-middle" uk-grid>
                            <div class="uk-width-2-3@m uk-flex-first">
                                <div class="uk-margin-left">
                                    <p>Aún no tienes contactos en personaly, añádelos y empieza a simplificar tu
                                        vida.</p>
                                </div>
                                <div class="uk-text-center">
                                    <button class="uk-button uk-button-secondary uk-button-large" type="button"
                                            uk-toggle="target: #add_contact">{% translate "Añadir contacto" %}</button>
                                </div>

                            </div>
                            <div class="uk-width-1-3@m ">
                                <img class="uk-preserve" width="400"
                                     src="{% static 'img/app/add_contact.svg' %}" alt="Sin contactos" uk-svg>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% for contact in list_contacts %}
                        <div class="uk-margin-bottom">
                            <div class="uk-flex uk-flex-between uk-flex-middle uk-visible-toggle app-button-contact"
                                 tabindex="-1">
                                <div id="photo_name_tags_contact" class="uk-margin-left uk-flex">
                                    <div id="photo_contact">
                                        {% if contact.image_contact %}
                                            <a href={% url 'contact' contact.url %}><img
                                                    class="uk-border-circle image-contact" width="50"
                                                    height="50"
                                                    data-src="/media{{ contact.image_contact }}"
                                                    alt="{{ contact.name }} {{ contact.surnames }}" uk-img></a>
                                        {% else %}
                                            <a href={% url 'contact' contact.url %}><img
                                                    class="uk-border-circle image-contact" width="50"
                                                    height="50"
                                                    data-src="{% static 'img/app/contact_holder.jpg' %}"
                                                    alt="{{ contact.name }} {{ contact.surnames }}" uk-img></a>
                                        {% endif %}
                                    </div>
                                    <div id="name_contact">
                                        <a class="uk-margin-left uk-margin-right"
                                           href={% url 'contact' contact.url %}><span
                                                class="uk-h5 text-button-contact uk-text-middle">{{ contact.name | capfirst }} {{ contact.surnames | capfirst }}</span></a>
                                    </div>
                                    <div id="tags_contact" class="uk-visible@l">
                                        {% for tag in tags_list %}
                                            <div class="uk-flex uk-flex-inline">
                                                {% if tag.contact == contact %}
                                                    <div class="uk-label tag-contact uk-text-middle">
                                                        <span class="uk-margin-small-right">{{ tag.icon }}</span>
                                                        <span class="">{{ tag.text }}</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="iconnav_options_contact" class="uk-visible@l">
                                    <ul class="uk-iconnav uk-invisible-hover">
                                        <li><a class="uk-icon-linl icon_trash" uk-icon="icon: trash"
                                               uk-tooltip="title: {% translate "Eliminar contacto" %}; pos: bottom"></a>
                                        <li><a class="uk-icon-link icon_app" uk-icon="file-edit"
                                               uk-tooltip="title: {% translate "Editar contacto" %}; pos: bottom"></a>
                                        <li><a href="#" class="uk-icon-link icon_app" uk-icon="future"
                                               uk-tooltip="title: {% translate "Programar" %}; pos: bottom"></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}