{% extends 'app/base_app.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ contact.name |capfirst}} {{ contact.surnames |capfirst}} | {% endblock %}

{% block content_main %}
    <script src="{% static 'js/contact_001.js' %}"></script>
    <script>
    let contactJS = new Contact_001(
        app = appJS,
        contact_id = '{{ contact.id }}',
        owner = '{{ owner.id }}',
        api_contact =  '{% url 'api_v2:contact-list' %}',
    )
</script>

    <div class="container-app uk-container uk-container-large ">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m">
                <ul class="uk-iconnav btn-actions-tittle uk-flex-right">
                    <li><a class="uk-icon-link icon_trash"
                           onclick="appJS.openModalDeleteContact('{{ contact.id }}')"
                           uk-icon="icon: trash"
                           uk-tooltip="title: {% translate "Eliminar contacto" %}; pos: bottom-left"></a>
                    <li><a class="uk-icon-link"
                           onclick=""
                           uk-icon="icon: tag"
                           uk-tooltip="title: {% translate "Editar etiquetas" %}; pos: bottom-left"></a>
                    <li><a class="uk-icon-link"
                           onclick="appJS.openModalEditContact('{{ contact.id }}')"
                           uk-icon="icon: file-edit"
                           uk-tooltip="title: {% translate "Editar contacto" %}; pos: bottom-left"></a>
                </ul>

                {% include "dashboard/contact/contact_header.html"  %}
                {% include "dashboard/contact/contact_reminders.html" %}


                <div class="uk-margin-large-top">
                    <ul id="tab_contact" class="uk-tab uk-child-width-expand"
                        data-uk-tab="{connect:'#switcher_contact'}">
                        <li id="notes"><a href="#notes"><span class="uk-margin-small-right"
                                                              uk-icon="comments"></span>{% translate "Notas" %}</a></li>
                        <li id="common"><a href="#common"><span class="uk-margin-small-right"
                                                                uk-icon="bolt"></span>{% translate "En común" %}</a>
                        </li>
                        <li id="experiences"><a href="#experiences"><span class="uk-margin-small-right"
                                                                          uk-icon="world"></span>{% translate "Experiencias" %}
                        </a></li>
                        <li id="music"><a href="#music"><span class="uk-margin-small-right"
                                                              uk-icon="play-circle"></span>{% translate "Música" %}</a>
                        </li>
                        <li id="family"><a href="#family"><span class="uk-margin-small-right"
                                                                uk-icon="user"></span>{% translate "Familia" %}</a></li>
                    </ul>
                    <ul id="switcher_contact" class="uk-switcher uk-margin">
                        <li>{% include "dashboard/contact/contact_notes.html" %}</li>
                        <li>{% include "dashboard/contact/contact_common.html"  %}</li>
                        <li>{% include "dashboard/contact/contact_experiences.html"  %}</li>
                        <li>{% include "dashboard/contact/contact_music.html" %}</li>
                        <li>{% include "dashboard/contact/contact_family.html" %}</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

{% endblock %}