{% extends 'html/app/base_app.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ contact.name }} {{ contact.surnames }} | {% endblock %}

{% block content_main %}


    <div class="uk-container uk-container-large ">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m">
                <ul class="uk-iconnav btn-actions-tittle uk-flex-right">
                    <li><a class="uk-icon-link"
                           onclick="deleteContact('{{ contact.id }}','{{ contact.name }} {{ contact.surnames }}')"
                           uk-icon="icon: trash"
                           uk-tooltip="title: {% translate "Eliminar contacto" %}; pos: bottom-left"></a>
                    <li><a href="#" class="uk-icon-link" uk-icon="icon: pencil"
                           uk-tooltip="title: {% translate "Editar contacto" %}; pos: bottom-left"></a>
                </ul>

                {% include "dashboard/contact/contact_header.html" with contact=contact tags_list=tags_list %}

                <div class="uk-margin-large-top">
                    <ul class="uk-child-width-expand" uk-tab>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="future"></span>Recordatorios</a>
                        </li>
                    </ul>

                    <ul class="uk-switcher uk-margin">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </li>
                    </ul>
                </div>


                <div class="uk-margin-large-top">

                    <ul class="uk-child-width-expand" uk-tab>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="comments"></span>Notas</a></li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="bolt"></span>Cosas en comun</a>
                        </li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="world"></span>Experiencias</a></li>
                        <li><a href="#"><span class="uk-margin-small-right" uk-icon="user"></span>Familia</a></li>
                    </ul>

                    <ul class="uk-switcher uk-margin">
                        <li>
                             {% include "dashboard/contact/contact_notes.html" with list_notes=list_notes %}
                        </li>
                        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo
                            consequat.
                        </li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur, sed do eiusmod.
                        </li>
                        <li>Duis gggggg.
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
