{% extends 'html/app/base_app.html' %}
{% load i18n %}
{% load static %}
{% block title %}Dashboard | {% endblock %}

{% block content_main %}

    <div class="uk-container uk-container-large ">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m">
                <div class="card-title uk-flex-inline uk-margin-left uk-margin-bottom">

                    <h1 class="uk-heading-medium">{% translate "Hoy" %}</h1>


                </div>
            </div>
        </div>
    </div>

{% endblock %}