{% extends 'html/app/base_app.html' %}
{% load static %}
{% block title %}Dashboard | {% endblock %}

{% block content_main %}


<div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>Cuenta creado satisfactoriamente.</p>
</div>

<section>
<div class="container-fluid overflow-auto" style="margin-top: 150px">
  <div class="row">
      {% for contact in contact_list %}
      {{ contact.name }}
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>

    {% endfor %}

  </div>

 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>

 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>

 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>
 <div class="row">
    <a href="contact/{{ contact.url }}"><div class="col"><img class="img-fluid rounded-circle avatar-person" width="200" src="{% static 'img/1.jpeg' %}"  alt=""></div></a>
  </div>


</div>



</section>


{% endblock %}
