{% extends 'app/base_app.html' %}
{% load handlebars %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Inicio" %} | {% endblock %}
{% block content_main %}
    <script>
        let dashboardJS = new Dashboard(
            App = appJS,
            url_api_family = '{% url 'api_v2:reminder_contact-list' %}',
        )
    </script>

    <div id="dashboard_today" class="container-app uk-container uk-container-large uk-hidden">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m uk-animation-fade">
                <div class="card-title uk-width uk-flex uk-flex-inline uk-flex-between uk-margin-left uk-margin-bottom uk-flex-middle">
                    <div class="uk-flex uk-flex-middle">
                        <div><span class="uk-heading-medium uk-h1">{% translate "Hoy" %}</span></div>
                        <div><span class="uk-margin-small-left">{{ date_today | date:"D j b" | lower }}</span></div>
                    </div>
                    <div>
                        <button onclick="dashboardJS.set_next()" href="#next" id="button_dashboard_next"
                                class="uk-button uk-button-default uk-button-small uk-margin-small-right uk-text-middle uk-hidden">
                            <span uk-icon="icon: future; ratio: 0.85"></span>&nbsp;&nbsp;{% translate "Próximos" %}
                        </button>
                    </div>
                </div>
                <div id="text_reminder_dashboard" class="uk-flex uk-flex-column">
                    <div class="uk-text-center">
                        <img class="uk-preserve uk-width-medium " width="400"
                             src="{% static 'img/app/no_reminder.svg' %}" alt="" uk-svg>
                    </div>
                    <span class="uk-text-center uk-margin-top uk-margin-bottom ">{% translate "No tienes ningún recordatorio para hoy, descansa y disfruta del día." %}</span>
                </div>
                <div id="component_all_reminder" class="uk-card-body uk-hidden" style="padding-top: 30px">
                    <ul id="list_reminder_dashboard_today" class="uk-list uk-list-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="dashboard_next" class="container-app uk-container uk-container-large uk-hidden">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m uk-animation-fade">
                <div class="card-title uk-width uk-flex uk-flex-inline uk-flex-between uk-margin-left uk-margin-bottom uk-flex-middle">
                    <div class="uk-flex uk-flex-middle">
                        <div><span class="uk-heading-medium uk-h1">{% translate "Próximo" %}</span></div>
                    </div>
                    <div>
                        <button onclick="dashboardJS.set_today()" href="#next" id="button_dashboard_today"
                                class="uk-button uk-button-default uk-button-small uk-margin-small-right uk-text-middle">
                            <span uk-icon="icon: calendar; ratio: 0.85"></span>&nbsp;&nbsp;{% translate "Hoy" %}
                        </button>
                    </div>
                </div>
                <span class="uk-text-meta uk-margin-left"><span
                        uk-icon="arrow-down"></span><span>{% translate "Orden - Fecha de vencimiento" %}</span></span>
                <div id="component_all_reminder_next" class="uk-card-body" style="padding-top: 30px">
                    <ul id="list_reminder_dashboard_next" class="uk-list uk-list-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script id="template_items_reminder_today" type="text/x-handlebars-template">
        <ul class="uk-list uk-list-divider">
            {{ "#reminders" | handlebars }}
            <li id="{{ 'id_reminder'| handlebars }}">
                <div class="uk-flex uk-flex-middle uk-visible-toggle" tabindex="-1">
                    <div class="uk-margin-right"><input class="uk-checkbox" type="checkbox" uk-tooltip="complete"
                                                        aria-expanded="false"></div>
                    <div class="uk-flex uk-flex-column uk-width">
                        <div class="uk-flex uk-flex-inline uk-flex-middle uk-width">
                            <div class="uk-width-small">
                                <div class="uk-text-truncate text-blue3"><a data-href="contact_href"
                                                                            class="text-blue3">{{ 'contact_name'| handlebars }}&nbsp;{{ 'contact_surname'| handlebars }}</a>
                                </div>
                            </div>
                            <div class="uk-width uk-margin-small-left uk-margin-small-right">
                                <input class="uk-input uk-form-blank uk-h3 uk-sticky" type="text" name="title"
                                       value="{{ 'reminder_text'| handlebars }}">
                            </div>
                        </div>

                        {{ '#if past' | handlebars }}
                        <span class="uk-text-meta uk-text-warning">{% translate 'Recordatorio retrasado' %}</span>
                        {{ '/if' | handlebars }}

                    </div>

                    <ul class="uk-iconnav uk-invisible-hover uk-width-small uk-flex-right">
                        <li><a href="#" class="icon_trash" uk-icon="icon: trash"></a></li>
                        <li><a href="#" class="icon_app" uk-icon="icon: future"></a></li>
                    </ul>
                </div>
            </li>
            {{ "/reminders" | handlebars }}
    </script>


    <script id="template_items_reminder_next" type="text/x-handlebars-template">
        <ul class="uk-list uk-list-divider">
            {{ "#reminders" | handlebars }}
            <li id="{{ 'id_reminder'| handlebars }}">
                <div class="uk-flex uk-flex-middle uk-visible-toggle" tabindex="-1">
                    <div class="uk-margin-right"><input class="uk-checkbox" type="checkbox" uk-tooltip="complete"
                                                        aria-expanded="false"></div>
                    <div class="uk-flex uk-flex-column uk-width">
                        <div>
                            <div class="uk-flex uk-flex-inline uk-flex-middle uk-width">
                                <div class="uk-width-small">
                                    <div class="uk-text-truncate text-blue3"><a data-href="contact_href"
                                                                                class="text-blue3">{{ 'contact_name'| handlebars }}&nbsp;{{ 'contact_surname'| handlebars }}</a>
                                    </div>
                                </div>
                                <div class="uk-width uk-margin-small-left uk-margin-small-right">
                                    <input class="uk-input uk-form-blank uk-h3 uk-sticky" type="text" name="title"
                                           value="{{ 'reminder_text'| handlebars }}">
                                </div>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-inline uk-flex-middle">
                            <span class="uk-text-meta">{{ 'date'| handlebars }}</span>
                            <span class="uk-text-meta">&nbsp;-&nbsp;</span>
                            <span class="uk-text-meta">{% translate "Quedan" %}&nbsp;<span
                                    class="uk-text-bold">{{ 'days'| handlebars }}</span>&nbsp;{% translate "días." %}</span>
                        </div>

                    </div>

                    <ul class="uk-iconnav uk-invisible-hover uk-width-small uk-flex-right">
                        <li><a href="#" class="icon_trash" uk-icon="icon: trash"></a></li>
                        <li><a href="#" class="icon_app" uk-icon="icon: future"></a></li>
                    </ul>
                </div>
            </li>
            {{ "/reminders" | handlebars }}
    </script>

    <script>
        dashboardJS.compileTemplate();
    </script>


{% endblock %}