{% load i18n %}
{# CREAR CONTACTO #}
<div id="modal_create_contact" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{% translate "Añadir contacto" %}</h2>
        </div>
        <div class="uk-modal-body">

            <form id="form_modal_create_contact" class="uk-form-stacked">
                <fieldset class="uk-fieldset">

                    <div id="name_surname_create_contact" class="uk-flex">
                        <div class="uk-width-2-4 uk-flex-first">
                            <div class="uk-form-controls uk-flex uk-flex-column">
                                <label for="input_name_contact" class="uk-form-label ">{% translate "Nombre" %}</label>
                                <input id="input_name_contact" name="name_contact"
                                       class="uk-input uk-form-width-medium uk-text-capitalize" type="text">
                            </div>
                        </div>
                        <div class="uk-width-2-1 uk-flex-last">
                            <div class="uk-form-controls uk-flex uk-flex-column">
                                <div class="uk-flex uk-flex-between">
                                    <label for="input_surnames_contact"
                                           class="uk-form-label ">{% translate "Apellidos" %}</label>
                                    <label for="input_surnames_contact"
                                           class="uk-form-label uk-text-muted uk-margin-small-right">{% translate "Opcional" %}</label>
                                </div>
                                <input id="input_surnames_contact" name="surname_contact"
                                       class="uk-input uk-text-capitalize" type="text">
                            </div>
                        </div>
                    </div>

                    <div id="keep_touch_create_contact" class="uk-margin">
                        <div class="uk-form-controls uk-flex uk-flex-column">
                            <div class="uk-flex uk-text-middle">
                                <label class="uk-form-label"
                                       for="id_keep_in_touch">{% translate "Estar en contacto" %}</label>
                                <span class="uk-margin-small-left uk-text-bottom" uk-icon="icon: info; ratio: 0.8"
                                      uk-tooltip="title: ayuda; pos: bottom"></span>
                            </div>
                            {{ form_keep_in_touch }}
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button id="button_create_contact" class="uk-button uk-button-primary"
                    data-value='{% translate "Crear contacto" %}' onclick="contactJS.createContact()"
                    type="button">{% translate "Crear contacto" %}</button>
        </div>
    </div>
</div>
{# END CREAR CONTACTO #}
{# BORRAR CONTACTO #}
<div id="modal_delete_contact" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{% translate "Eliminar contacto" %}</h2>
        </div>
        <div class="uk-modal-body uk-flex uk-flex-column">
            <input id="contact_id_delete_contact" name="contact_id" type="hidden">
            <span>{% translate "¿Estás seguro que quieres eliminar a" %} <span id="contact_name_delete_contact"
                                                                               class="uk-text-capitalize uk-text-bold"></span>?</span>
            <span class="uk-text-danger uk-margin-small-top">{% translate "Todos los datos relacionados serán eliminados y esta acción no puede deshacerse." %}</span>
            <span class="uk-text-muted uk-text-small uk-margin-small-top uk-text-center">{% translate " 'Un verdadero amigo es aquel que llega cuando todos se han ido.' Albert Camus" %}</span>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button onclick="contactJS.deleteContact()" id="button_delete_contact" class="uk-button uk-button-danger"
                    data-value='{% translate "Eliminar contacto" %}' onclick=""
                    type="button"><span class="uk-margin-small-right"
                                        uk-icon="trash"></span>{% translate "Eliminar contacto" %}</button>
        </div>
    </div>
</div>
{# END BORRAR CONTACTO #}
{#EDITAR CONTACTO#}
<div id="modal_edit_contact" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{% translate "Editar contacto" %}</h2>
        </div>
        <div class="uk-modal-body">
            <form id="form_modal_edit_contact" class="uk-form-stacked">
                <input id="id_contact" class="uk-hidden" type="text">
                <div class="uk-flex">
                    <div class="uk-width-2-4">
                        <div class="uk-form-controls uk-flex uk-flex-column">
                            <label for="input_edit_name_contact" class="uk-form-label ">{% translate "Nombre" %}</label>
                            <input id="input_edit_name_contact" name="name_contact"
                                   class="uk-input uk-form-width-medium uk-text-capitalize" type="text">
                        </div>
                    </div>
                    <div class="uk-width-2-1">
                        <div class="uk-form-controls uk-flex uk-flex-column">
                            <div class="uk-flex uk-flex-between">
                                <label for="input_edit_surnames_contact"
                                       class="uk-form-label ">{% translate "Apellidos" %}</label>
                                <label for="input_edit_surnames_contact"
                                       class="uk-form-label uk-text-muted uk-margin-small-right">{% translate "Opcional" %}</label>
                            </div>
                            <input id="input_edit_surnames_contact" name="surname_contact"
                                   class="uk-input uk-text-capitalize"
                                   type="text">
                        </div>
                    </div>
                </div>
                <div class="uk-margin-small-top js-upload">
                    <label for="input_photo" class="uk-form-label ">{% translate "Foto de perfil" %}</label>
                    <div id="div_image" class="uk-hidden">
                        <img id="image_upload" class="uk-border-circle image-contact" width="50" height="50" uk-img>
                        <button class="uk-button uk-button-danger uk-button-small uk-margin-small-left">{% translate "Eliminar imagen" %}
                        </button>
                        <input id="public_url_photo" class="uk-hidden">
                    </div>
                    <div id="div_upload_image" uk-form-custom="target: true">
                        <input type="file">
                        <input id="input_photo" class="uk-input uk-form-width-medium" type="text"
                               placeholder="Selecciona un fichero" disabled>
                    </div>
                    <script>
                        contactJS.uploadPhotoProfile()
                    </script>
                </div>
                <hr>
                <div class="uk-margin">
                    <div class="uk-width-1-1 uk-flex uk-flex-column">
                        <div class="uk-flex uk-flex-between">
                            <label class="uk-form-label " for="input_city_contact">{% translate "Ciudad" %}</label>
                            <label for="input_city_contact"
                                   class="uk-form-label uk-text-muted uk-margin-small-right">{% translate "Opcional" %}</label>
                        </div>

                        <input id="input_city_contact" class="uk-input" type="search" placeholder="">
                        <script>
                            appJS.searchPlaces();
                        </script>
                    </div>

                    <div class="uk-width-1-1 uk-margin-small-top uk-flex uk-flex-column">
                        <div class="uk-flex uk-flex-between">
                            <label for="input_phone" class="uk-form-label ">{% translate "Telefono" %}</label>
                            <label for="input_phone"
                                   class="uk-form-label uk-text-muted uk-margin-small-right">{% translate "Opcional" %}</label>
                        </div>
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: phone"></span>
                            <input id="input_phone" class="uk-input" type="tel" placeholder="">
                        </div>

                    </div>
                    <div class="uk-width-1-1 uk-margin-small-top uk-flex uk-flex-column">
                        <div class="uk-flex uk-flex-between">
                            <label for="input_mail" class="uk-form-label ">{% translate "Correo electonico" %}</label>
                            <label for="input_mail"
                                   class="uk-form-label uk-text-muted uk-margin-small-right">{% translate "Opcional" %}</label>
                        </div>
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input id="input_mail" class="uk-input" type="email" placeholder="">
                        </div>

                    </div>
                </div>
                <hr>
                <div class="uk-margin">

                    <div class="uk-width-1-1">
                        <label for="input_date" class="uk-form-label ">{% translate "Fecha de nacimiento" %}</label>

                        <div class="uk-flex ">
                            <div>
                                <input id="input_date" class="uk-input" type="date" placeholder="">
                            </div>
                            <div class="uk-margin-left">
                                <label class="uk-text-meta"><input id="remember_birthday"
                                                                   class="uk-checkbox uk-margin-small-right"
                                                                   type="checkbox" checked>Recordar cumpleaños</label>
                            </div>

                        </div>


                    </div>

                    <div id="keep_touch_create_contact" class="uk-margin">
                        <div class="uk-form-controls uk-flex uk-flex-column">
                            <div class="uk-flex uk-text-middle">
                                <label class="uk-form-label"
                                       for="id_keep_in_touch">{% translate "Estar en contacto" %}</label>
                                <span class="uk-margin-small-left uk-text-bottom" uk-icon="icon: info; ratio: 0.8"
                                      uk-tooltip="title: ayuda; pos: bottom"></span>
                            </div>
                            {{ form_keep_in_touch }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button id="button_save_edit_contact" class="uk-button uk-button-primary"
                    data-value='{% translate "Guardar Cambios" %}' onclick="contactJS.editContact()"
                    type="button">{% translate "Guardar Cambios" %}</button>
        </div>
    </div>
</div>
{#END EDITAR CONTACTO#}

<div id="modal_schedule_reminder" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{% translate "Reprogramar recordatorio" %}</h2>
        </div>
        <div class="uk-modal-body">
            <form id="form_modal_edit_schedule_reminder" class="uk-form-stacked">
                <input id="reminder_id_schedule" class="uk-hidden">
                <fieldset class="uk-fieldset">
                    <div class="uk-form-controls uk-flex uk-flex-column">
                        <label for="deadline_reminder_schedule"
                               class="uk-form-label ">{% translate "Nueva fecha" %}</label>
                        <input id="deadline_reminder_schedule" name="deadline_reminder_schedule" class="uk-input"
                               type="date">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button id="button_save_create_reminder" onclick="reminderJS.changeDeadLineReminder()"
                    class="uk-button uk-button-primary"
                    data-value='{% translate "Reprogramar" %}'
                    type="button">{% translate "Reprogramar" %}</button>
        </div>
    </div>
</div>


<div id="modal_create_reminder" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{% translate "Añadir recordatorio" %}</h2>
        </div>
        <div class="uk-modal-body">
            <form id="form_modal_create_reminder">
                <fieldset class="uk-fieldset">
                    <input id="id_contact_create_reminder" class="uk-hidden" type="text">
                    <div class="uk-margin">
                        <input id="text_reminder" class="uk-input" type="text" placeholder="Input">
                    </div>
                    <div class="uk-margin">
                        <input id="deadline_reminder" class="uk-input" type="date" placeholder="Input">
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button id="button_save_create_reminder" onclick="reminderJS.createReminder()"
                    class="uk-button uk-button-primary"
                    data-value='{% translate "Crear recordatorio" %}'
                    type="button">{% translate "Crear recordatorio" %}</button>
        </div>
    </div>
</div>


<script>
    contactJS.configureValidatorContact();
    reminderJS.configureScheduleReminder();
</script>