{#CREAR_CONTACTO#}
<div id="add_contact" target uk-modal>
    {% include "dashboard/modal/add_contact.html" with form=form_add_contact %}
</div>
{#END_CREAR_CONTACTO#}

{#BORRAR CONTACTO#}
<div id="modal_delete_contact" target uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Eliminar el contacto</h2>
        <p>¿Estás seguro de que quieres borrar a <span id="contact_name" class="uk-text-bold"></span>?</p>
        <p>Todos los datos relacionados serán eliminados y esta acción no puede deshacerse.</p>
        <form action="{% url 'api_delete_contact' %}" method="POST">
            <input id="contact_id" name="contact_id" type="hidden">
            {% csrf_token %}
            <p class="uk-text-right">
                <button class="uk-button uk-button-danger" type="submit"><span class="uk-margin-small-right"
                                                                               uk-icon="trash"></span>Borrar
                </button>
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
            </p>
        </form>


    </div>
</div>
{#END_BORRAR_CONTACTO#}

{#ANADIR NOTA CONTACTO#}
<div id="modal_create_contact_note" target uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Crear nota</h2>
        <div class="uk-modal-body">
            <div class="uk-margin">
                <textarea id="text_note" class="uk-textarea" rows="5" placeholder="Nota"></textarea>
            </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button id="button_cancel_contact_note" class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
            <button id="button_save_contact_note" class="uk-button uk-button-primary" onclick="createContactNote()" type="button">Guardar</button>
        </div>

    </div>
</div>