{% extends 'app/base_app.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Ajustes" %} | {% endblock %}

{% block content_main %}


    <div class="container-app uk-container uk-container-large ">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card card-contact-list uk-card-default uk-card-body uk-width-1-2@m">
                <div class="card-title uk-flex-inline uk-margin-left uk-margin-bottom">

                    <h1 class="uk-heading-medium">{% translate "Ajustes" %}</h1>

                </div>
                <div class="uk-flex uk-flex-row">
                    <div class="uk-margin-left">
                        <ul class="uk-tab-right" uk-tab="connect: #ajustes;">
                            <li class="uk-active uk-margin-small-bottom"><a href="#"><span class="uk-margin-small-right" uk-icon="user"></span>Cuenta</a>
                            <li class="uk-margin-small-bottom"><a href="#"><span class="uk-margin-small-right" uk-icon="cog"></span>General</a></li>
                            <li class="uk-margin-small-bottom"><a href="#"><span class="uk-margin-small-right" uk-icon="credit-card"></span>Suscripción</a></li>
                            <li class="uk-margin-small-bottom"><a href="#"><span class="uk-margin-small-right" uk-icon="bell"></span>Notificaciones</a></li>
                            <li class="uk-margin-small-bottom"><a href="#"><span class="uk-margin-small-right" uk-icon="lifesaver"></span>Soporte</a></li>
                            <li class="uk-margin-small-bottom"><a href="#"><span class="uk-margin-small-right" uk-icon="info"></span>Atajos de teclado</a></li></ul>
                    </div>
                    <div>
                        <ul id="ajustes" class="uk-switcher uk-margin">
                            <li>Nombre: {{ user.first_name }} {{ user.last_name }}, Correo: {{ user.email }}

                            </li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>
    </div>


{% endblock %}