{% load i18n %}
<div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title uk-heading-medium">{% translate "Añadir contacto" %}</h2>
    </div>
    <form class="form uk-form-stacked" action="{% url 'api_add_contact' %}" method="POST">
        <div class="uk-modal-body">

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endif %}


            <div class="uk-flex">
                <div class="uk-width-2-4 uk-flex-first">
                    <label class="uk-form-label " for="{{ form.name.id_for_label }}">Nombre</label>
                    <div class="uk-form-controls">
                        {% if form.name.errors %}
                            <input class="uk-input uk-form-danger uk-form-width-medium"
                                   name={{ form.name.name }} type="text" required>
                        {% else %}
                            <input class="uk-input uk-form-width-medium" name={{ form.name.name }} type="text" required>
                        {% endif %}
                    </div>
                </div>
                <div class="uk-width-2-1 uk-flex-last">
                    <label class="uk-form-label " for="{{ form.surnames.id_for_label }}">Apellidos</label>
                    <div class="uk-form-controls">
                        {% if form.surnames.errors %}
                            <input class="uk-input uk-form-danger" name={{ form.surnames.name }} type="text" required>
                        {% else %}
                            <input class="uk-input" name={{ form.surnames.name }} type="text" required>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="uk-margin uk-margin-bottom">
                <label class="uk-form-label" for="form-stacked-text">Estar en contacto</label>
                <select class="uk-select" name="form_select" id="form_select">
                    <option>Cada semana</option>
                    <option>Cada dos semana</option>
                    <option>1 vez al mes</option>
                    <option>Cada dos meses</option>
                    <option>No recordar</option>
                </select>
            </div>


        </div>

        {% csrf_token %}

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close"
                    type="button">{% translate "Cancelar" %}</button>
            <button class="uk-button uk-button-primary" type="submit">{% translate "Crear" %}</button>
        </div>

    </form>

</div>