{% load i18n %}
<div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">{% translate "Editar" %}<span> </span><span id="edit_contact_name"
                                                                               class="uk-text-capitalize"></span><span> </span><span
                id="edit_contact_surname" class="uk-text-capitalize"></span></h2>

    </div>
    <div class="uk-modal-body">

         <img id='image_edit_contact_modal' class="uk-border-circle image-contact" width="80" height="80"  alt="{{ contact.name }} {{ contact.surnames }}" uk-img>

        <div id='upload_photo_edit_contact' class="uk-flex">
            <div class="js-upload uk-placeholder ">
                <span uk-icon="icon: image"></span>
                <span class="uk-text-middle">Arraste aqui la foto de xxx o </span>
                <div uk-form-custom>
                    <input type="file" multiple>
                    <span class="uk-link">seleciona una</span>
                </div>
            </div>

            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

        </div>
        <script>
            uploadPhoto();
        </script>

        <div class="uk-flex">
            <div class="uk-width-2-4 uk-flex-first">
                <label class="uk-form-label ">Nombre</label>
                <div class="uk-form-controls">
                    <input id='edit_contact_name_input' class="uk-input uk-form-width-medium" type="text" required>
                </div>
            </div>
            <div class="uk-width-2-1 uk-flex-last">
                <label class="uk-form-label ">Apellidos</label>
                <div class="uk-form-controls">
                    <input id='edit_contact_surname_input' class="uk-input" type="text" required>

                </div>
            </div>
        </div>

        <div class="uk-flex">
            <div class="uk-width-2-4 uk-flex-first">
                <label class="uk-form-label ">Telefono</label>
                <div class="uk-form-controls">
                    <input id='edit_contact_name_input' class="uk-input uk-form-width-medium" type="number">
                </div>
            </div>
            <div class="uk-width-2-1 uk-flex-last">
                <label class="uk-form-label ">Ciudad</label>
                <div class="uk-form-controls">
                    <input class="uk-input" name={{ form.surnames.name }} type="text">

                </div>
            </div>

        </div>


    </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close"
                type="button">{% translate "Cancelar" %}</button>
        <button id="button_save_contact_common" class="uk-button uk-button-primary"
                data-value='{% translate "Guardar" %}' onclick=""
                type="button">{% translate "Guardar" %}</button>
    </div>
</div>